.header {
  height: 50vh;
  background: $theme-color; 
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $extra-loose;
    max-width: $screen-max-width;
    margin: 0 auto;
    .left {
      h1, p, div {
        margin-bottom: 10px;
      }
      .navlink {
        margin-right: 10px;
      }
    }
    .right {
      width: 300px;
      height: 300px;
    }
    transition: padding 0.3s ease-in-out;
  }
  transition: padding 0.3s ease-in-out;
}

.footer {
  font-size: 14px;
  color: $gray;
  font-weight: 600;
  background-color: $theme-color;
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 1024px) { 
  .header {
    .container {
      padding: 0 $base;
    }
  }
}

@media (max-width: 768px) {
  .header {
    height: 60vh;
    padding: $loose 0;
    .container {
      .right {
        width: 250px;
        height: 250px;
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    height: 80vh;
    .container {
      flex-direction: column;
      justify-content: center;
      .right {
        margin-top: 30px;
      }
    }
  }
}


